body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-title{
  background-color: black;
  color: white;
  padding-top: 100px;
  size: 500px;
}
.games-log{
  background-color: rgb(211, 211, 211);
  color: rgb(31, 31, 31);
  padding-top: 0;
  margin-top: 0;
}
.active-games-title{
  background-color: black;
  color: white;
  padding-top: 10px;
}
.games-lib{
  background-color: black;
  color: white;
}
.lib-header{
  background-color: black;
  color: aliceblue;
}
.lib-body{
  color: aliceblue;
  height: 1000px;
  background-repeat: no-repeat;
  list-style-type: none;
}
.lib-button{
  color: rgb(0, 0, 0);

}
.completed-section{
  background-color: rgb(255, 255, 255);
}

@media(min-width:0px) and (max-width:800px){
  .games-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    list-style-type: none;
    margin-left: 5px;
  }
  .search-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    list-style-type: none;
    margin-left: 5px;
  }
}
@media(min-width:801px) and (max-width:1300px){

  .games-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    list-style-type: none;
    margin-left: 5px;
  }
  .search-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3px;
    list-style-type: none;
    margin-left: 5px;
  }
}
@media(min-width:1301px) and (max-width:1800px){
  .games-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    list-style-type: none;
    margin-left: 5px;
  }
  .search-list{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 3px;
    list-style-type: none;
    margin-left: 5px;
  }
}
@media(min-width:1801px) and (max-width:2500px){
  .games-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    list-style-type: none;
    margin-left: 5px;
  }
    .search-list{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    list-style-type: none;
    margin-left: 5px;
  }
}
@media(min-width:2501px){
  .games-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    list-style-type: none;
    margin-left: 5px;
  }
  .search-list{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    list-style-type: none;
    margin-left: 5px;
  }
}



.search-item{
  border: 5px solid rgb(0, 0, 0);
  height: 160px;
  width: 120px;
  margin: 20px;
  box-shadow: 5px 7px 10px #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.game{
  border: 5px solid rgb(14, 206, 94) ;
  border-radius: 2%;
  height: 320px;
  width: 270px;
  margin: 20px;
  box-shadow: 5px 7px 15px 2px  #4e4e4e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current-item{
  border: 5px solid rgb(14, 206, 94);
}
.waitlisted-item{
  border: 5px solid rgb(233, 219, 20);
}

.completed-item{
  border: 5px solid rgb(0, 0, 0);
}
.completed-item.game{
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 5px 7px 5px 1px  #746200;
}
.completed-item.search-item{
  border: 5px solid rgb(255, 255, 255);
}
.game-top-section{
  display: flex;
  flex-direction: row-reverse;
}
.game-data{
  color: white;
}
.button{
  padding-left: 20px;
  align-self: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-image: url('./icons/cancel.svg');
  background-size: 100% 100%;
  border: 0;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.remove{
  background-image: url('./icons/cancel.svg');
}
.play{
  background-image: url('./icons/play.svg');
}
.pause{
  background-image: url('./icons/pause.svg');
}
.check{
  background-image: url('./icons/check.svg');
}